.CTAbox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 50vw;
    height: auto;
    cursor: default;
    margin-top: 90px;
    z-index: 2;
}
