.videobox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32vh;
  height: 67vh;
  margin-left: 0px;
  border-radius: 50px;
  z-index: 5;
  background-color: purple;
  /* overflow: hidden; */
  margin-top: 6%;
}

.headervideo{
  height: 98%;
  width: 93%;
  object-fit: cover;
  border-radius: 4vh;
}

/* .headervideo::-webkit-media-controls{
  display: none;
} */

.mainvideo {
  height: 100%;
  width: 100%;
  z-index: -1;
  margin-top: 0px;
  border-radius: 5vh;
  overflow: hidden;
  object-fit: contain;
  background-color: pink;
}

.phoneskin {
  /* width: 355px; */
  height: 68vh;
  z-index: 10;
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  /* background-color: orange; */
}

.blackout {
  background-color: black;
  width: 290px;
  height: 5px;
  z-index: 2;
  margin-top: 6px;
  margin-left: -25px;
}


@media only screen and (max-width: 500px) {
  /* .videobox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25%;
    border-radius: 60px;
    z-index: 5;
    overflow: hidden;
    position: relative;
  }
*/

  /* .phoneskin {
    margin-top: -2%;
    margin-bottom: -10%;

  }  */

  .blackout {
    background-color: black;
    width: 0px;
    height: 0px;
    z-index: 2;
  }
}
