@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Permanent+Marker&display=swap");

body {
  background-color: powderblue;
  overflow-x: hidden;
  position: relative;
}

.wrapperdivMain {
  width: 100vw;
  overflow-x: hidden;
}

.topsection {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #538dbd;
  width: 100vw;
  height: 177.78vh;
  max-height: 100vh;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
}

.mainherovideo {
  /* position: absolute;
top: 0;
	left: 0; */
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* margin-top: -20%;
	margin-left: -40%; */
}

.switchBox {
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  left: 0;
  top: 45px;
  width: 100vw;
  height: 177.78vh;
  max-height: 100vh;
  /* margin-top: -20px; */
  /* background-color: blueviolet; */
}

.leftTop {
  /* position: absolute; */
  left: 0;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  /* margin-top: 45px; */
  z-index: 1;
  /* background-color: pink; */
}

.rightTop {
  /* position: absolute; */
  left: 50vw;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
  /* margin-top: 45px; */
  z-index: 1;
  /* background-color: powderblue; */
}

.webshowsection {
  position: relative;
  display: flex;
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  width: 100vw;
  height: 60vw;
  background-color: #538dbd;
  align-items: center;
  justify-content: center;
  /* z-index: 0; */
  /* position: static; */
}

.whyvideosection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  z-index: 0;
  position: relative;
}

/* Large desktop styles */
@media only screen and (min-width: 1750px) {
  /* .mainherovideo {
		margin-top: -200px;
	}

	.topsection {
		flex-direction: column;
	}  */

  /* .leftTop {
		max-width: 40%;
		margin-top: 00px;
	} */

  /* .headLineBox {
    margin-bottom: 6%;
    font-size: calc(20px + 3vw);
  }

  .subLineBox {
    line-height: 150%;
  } */
}

/* Tablet styles */
@media only screen and (max-width: 900px) {
  .topsection {
    position: absolute;
    width: 100vw;
    height: 177.78vh;
    max-height: 180vh;
  }

  .mainherovideo {
    object-fit: cover;
    width: 100%;
    height: 50%;
  }

  .switchBox {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    left: 0;
    top: 45px;
    width: 100vw;
    height: 177.78vh;
    max-height: 180vh;
  }

  .leftTop {
    /* position: absolute; */
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 88.89vh;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    z-index: 1;
    /* background-color: pink; */
  }

  .rightTop {
    /* position: relative; */
    left: 50vw;
    display: flex;
    flex-direction: column;
    height: 88.89vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding-top: 4%;
    padding-bottom: 10%;
    margin-bottom: -10%;
    background-color: powderblue;
  }

  .webshowsection {
    /* position: relative; */
    width: 100vw;
    height: 100vw;
    z-index: 1;
    margin-top: 20%;
  }

  .headLineBox {
    max-width: 80%;
  }
}

.joinusT {
  margin-bottom: -50px;
  margin-left: -5px;
  font-size: 20px;
  font-weight: bolder;
  color: white;
}

.whyvideosection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.midsection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.bottomsection {
  display: flex;
  flex-direction: column;
  background-color: #add8e6;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.joinus {
  margin-bottom: -10px;
  margin-left: -5px;
  font-size: 30px;
  color: white;
}

/* Mobile styles */
@media only screen and (max-width: 550px) {
  .topsection {
    position: absolute;
    top: -15px;
    width: 100vw;
    height: 177.78vh;
    max-height: 125vh;
  }

  .mainherovideo {
    object-fit: cover;
    width: 100%;
    height: 60%;
  }

  .switchBox {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    left: 0;
    top: 30px;
    width: 100vw;
    height: 177.78vh;
    max-height: 145vh;
  }

  .leftTop {
    /* position: absolute; */
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 88.89vh;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 5%;
    z-index: 1;
    /* background-color: pink; */
  }

  .rightTop {
    /* position: relative; */
    left: 50vw;
    display: flex;
    flex-direction: column;
    height: 88.89vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding-top: 7%;
    padding-bottom: 15%;
    margin-bottom: 30%;
    background-color: powderblue;
  }

  .webshowsection {
    margin-top: 20%;
    padding-top: 5%;
    width: 100vw;
    height: 130vw;
  }

  .joinusT {
    margin-bottom: -50px;
    margin-left: -5px;
    font-size: 18px;
    font-weight: bolder;
    width: 80vw;
    justify-content: center;
    text-align: center;
  }

  .midsection {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    background-color: white;
    align-items: center;
    justify-content: center;
  }

  .bottomsection {
    display: flex;
    flex-direction: column;
    background-color: #add8e6;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
  .joinus {
    margin-bottom: -10px;
    margin-left: -5px;
    font-size: 30px;
    width: 80vw;
    font-size: 18px;
    justify-content: center;
    text-align: center;
  }

  .whyvideosection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    background-color: white;
  }
}

/* Mobile styles */
@media only screen and (max-width: 320px) {
  .topsection {
    position: absolute;
    top: -15px;
    width: 100vw;
    height: 177.78vh;
    max-height: 110vh;
  }

  .mainherovideo {
    object-fit: cover;
    width: 100%;
    height: 80%;
  }

  .switchBox {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    left: 0;
    top: 30px;
    width: 100vw;
    height: 177.78vh;
    max-height: 155vh;
  }

  .leftTop {
    /* position: absolute; */
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 88.89vh;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 5%;
    z-index: 1;
    /* background-color: pink; */
  }

  .rightTop {
    /* position: relative; */
    left: 50vw;
    display: flex;
    flex-direction: column;
    height: 88.89vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding-top: 7%;
    padding-bottom: 20%;
    margin-bottom: -40%;
    background-color: powderblue;
  }

  .webshowsection {
    margin-top: 40%;
    padding-top: 5%;
    width: 100vw;
    height: 150vw;
  }
}

/* Mobile styles */
@media only screen and (max-width: 200px) {
  .topsection {
    position: absolute;
    top: -15px;
    width: 100vw;
    height: 177.78vh;
    max-height: 110vh;
  }

  .mainherovideo {
    object-fit: cover;
    width: 100%;
    height: 80%;
  }

  .switchBox {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    left: 0;
    top: 30px;
    width: 100vw;
    height: 177.78vh;
    max-height: 160vh;
  }

  .leftTop {
    /* position: absolute; */
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 88.89vh;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 5%;
    z-index: 1;
    /* background-color: pink; */
  }

  .rightTop {
    /* position: relative; */
    left: 50vw;
    display: flex;
    flex-direction: column;
    height: 88.89vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding-top: 7%;
    padding-bottom: 20%;
    margin-bottom: -40%;
    background-color: powderblue;
  }

  .webshowsection {
    margin-top: 40%;
    padding-top: 5%;
    width: 100vw;
    height: 205vw;
  }
}
